numpy
matplotlib
scikit-learn
jupyterlab
shap
prettytable
pandas
seaborn
fastparquet
pyarrow
hyperopt
mlflow
psycopg-binary
psycopg2-binary
psycopg
evidently
python-dotenv
prefect
ydata-profiling
lightgbm
dvc
prefect-aws
isort
black
ruff
mypy